# Localhost
MONGO_HOST=lems-cluster0.ry9ob.mongodb.net
MONGO_PORT=27017

# Localhost
#MONGO_HOST=localhost
#MONGO_PORT=27017

# Localhost
# MONGO_HOST=10.4.31.211
# MONGO_PORT=27017

# Server semar lab public
# MONGO_HOST=0.tcp.jp.ngrok.io
# MONGO_PORT=10992

# Server semar lab public
#MONGO_HOST=103.106.72.181
#MONGO_PORT=27017

#MONGO_USER=lems
#MONGO_PASS=lems2025
#MONGO_DB=iot-server-v2

#MONGO_USER=root
#MONGO_PASS=example_password
#MONGO_DB=iot-server-v2

MONGO_USER=lepengdados
MONGO_PASS=Bn3uo6UTkzXkq4UI
MONGO_DB=iot-server-v2

#MONGO_URL=mongodb+srv://lems-lab:LG2Mjyb95lCvh8Dt@lems-cluster0.faau5cn.mongodb.net/iot-server-v2?retryWrites=true&w=majority
MONGO_URL=mongodb://admin:admin@ota.sinaungoding.com:27017/iot-server-v2?authSource=admin

JWT_SECRET=yourjwtsecret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=720
ACCESS_TOKEN_EXPIRE_DEVICE_DAYS=30
ACCESS_TOKEN_SECRET=WOPYlVLjy1R0GfltTGf9v5WKrsCO1a9097jEhnm0ZuI=
PRIVATE_KEY_PATH=private_key.pem
PUBLIC_KEY_PATH=public_key.pem

#Delay in minutes
DELAY_AMEDAS=90
DELAY_TENKI=60

LOG_LEVEL=INFO

#firmware folder
FIRMWARE_FOLDER=firmware
FIRMWARE_UPDATE_TOPIC=ota/notify

#message broker. please choose between 'mqtt' or 'mqtts'
MESSAGE_BROKER=mqtts

ENV=development

GITHUB_DISPATCH_TOKEN = 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
SEMAR_API_TOKEN = a3f89b1c7d2e4f5a6b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a
CICD_DISPATCH_MODE = stub
GITHUB_REPO_OWNER = 0d3ng
GITHUB_REPO_NAME = fast-api-semar
GITHUB_WORKFLOW_ID = build-ota.yml
OTA_TELEMETRY_TOPIC=semar/ota/telemetry
