# Localhost
MONGO_HOST=lems-cluster0.ry9ob.mongodb.net
MONGO_PORT=27017

# Localhost
#MONGO_HOST=localhost
#MONGO_PORT=27017

# Localhost
# MONGO_HOST=10.4.31.211
# MONGO_PORT=27017

# Server semar lab public
# MONGO_HOST=0.tcp.jp.ngrok.io
# MONGO_PORT=10992

# Server semar lab public
#MONGO_HOST=103.106.72.181
#MONGO_PORT=27017

#MONGO_USER=lems
#MONGO_PASS=lems2025
#MONGO_DB=iot-server-v2

#MONGO_USER=root
#MONGO_PASS=example_password
#MONGO_DB=iot-server-v2

MONGO_USER=lepengdados
MONGO_PASS=Bn3uo6UTkzXkq4UI
MONGO_DB=iot-server-v2

MONGO_URL=mongodb+srv://lems-lab:LG2Mjyb95lCvh8Dt@lems-cluster0.faau5cn.mongodb.net/iot-server-v2?retryWrites=true&w=majority
#MONGO_URL=mongodb://lepengdados:Bn3uo6UTkzXkq4UI@lems-cluster0.ry9ob.mongodb.net/iot-server-v2?authSource=admin

JWT_SECRET=yourjwtsecret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=720
ACCESS_TOKEN_EXPIRE_DEVICE_DAYS=30
ACCESS_TOKEN_SECRET=WOPYlVLjy1R0GfltTGf9v5WKrsCO1a9097jEhnm0ZuI=
PRIVATE_KEY_PATH=private_key.pem
PUBLIC_KEY_PATH=public_key.pem

#Delay in minutes
DELAY_AMEDAS=10
DELAY_TENKI=5

LOG_LEVEL=INFO
LOG_FILE=logs/app.log

ENV=development
